.DS_Store
REST API Examples/Pat_config.conf
Process Apps/IT_Ticketing_ServiceNow/FixCloseDate.ipynb
Process Apps/IT_Ticketing_ServiceNow/hold_reason_changes_df.csv
Process Apps/IT_Ticketing_ServiceNow/eventlog.csv
Process Apps/IT_Ticketing_ServiceNow/incident_audit.csv
Process Apps/IT_Ticketing_ServiceNow/instance_state_changes_df.csv
Process Apps/IT_Ticketing_ServiceNow/my_config.json
Process Apps/IT_Ticketing_ServiceNow/Curl.txt
Process Apps/IT_Ticketing_ServiceNow/ServiceNowIT.csv
Process Apps/IT_Ticketing_ServiceNow/state_changes_df.csv
Process Apps/IT_Ticketing_ServiceNow/state_changes.csv
Process Apps/IT_Ticketing_ServiceNow/testProcessApps.zip
Process Apps/IT_Ticketing_ServiceNow/tests.ipynb
Process Apps/IT_Ticketing_ServiceNow/user_groups_df.csv
Process Apps/testProcessApps/justatest.csv
Process Apps/Jira_ticketing/JiraConnector_original.py
Process Apps/Jira_ticketing/JiraConnector copy.py
Process Apps/Jira_ticketing/all_tickets.csv
Process Apps/Jira_ticketing/curl.txt
Process Apps/Jira_ticketing/changelog.csv
Process Apps/Jira_ticketing/IBM Process Mining - Process Apps ETL.pptx
Process Apps/Jira_ticketing/jiraevents.csv
Process Apps/Jira_ticketing/my_config.json
Process Apps/Jira_ticketing/test.csv
Process Apps/Jira_ticketing/test.ipynb
Process Apps/Jira_ticketing/test2.ipynb
Process Apps/Jira_ticketing/tt.csv
Process Apps/Jira_ticketing/uncompress.zip
Process Apps/Jira_ticketing/issues.csv
Custom Widgets/dimension_linechart/test.js
Process Apps/Jira_ticketing/JiraConnectorTutorial.zip
Process Apps/Jira_ticketing/eventlog.csv
Process Apps/P2P_data_xform_lab/__MACOSX/._invoice.csv
Process Apps/P2P_data_xform_lab/__MACOSX/._procurement.csv
Process Apps/P2P_data_xform_lab/__MACOSX/._requisition.csv
Process Apps/P2P_data_xform_lab/procurement.csv
Process Apps/P2P_data_xform_lab/P2Peventlog.csv
Process Apps/P2P_data_xform_lab/requisition.csv
Process Apps/P2P_data_xform_lab/invoice.csv
Process Apps/P2P_data_xform_lab/P2P_data_extraction_tutorial copy.ipynb
Process Apps/P2P_data_xform_lab/proc_and_invoices.csv
Process Apps/P2P_data_xform_lab/P2Peventlogtest.csv
Custom Widgets/v_barchart/view copy.html
REST API Examples/test.js
.gitignore
Custom Widgets/activity_relationships/test.js
Custom Widgets/activity_relationships/backend.js
Custom Widgets/activity_relationships/frontend.js
Custom Widgets/activity_relationships/output.json
REST API Examples/Patrick_Curl.md
REST API Examples/PM-REST-API-oas.json
Process Apps/Jira_ticketing/my_config_ibm.json
Custom Widgets/ECharts_examples/frontend timeaxis only year.js
Custom Widgets/ECharts_examples/frontend timeaxis type time.js
Custom Widgets/ECharts_examples/frontend timeaxis.js
REST_API_Examples/pharoses1_config.json
REST_API_Examples/Pat_config.conf
REST_API_Examples/Patrick_Curl.md
REST_API_Examples/view.html
